* {
    margin: 0;
    padding: 0;
}

.form_center {
    width: 100%;
    height: 100vh;
    background-image: repeating-conic-gradient( #333 0deg, #000 10deg, #333 10deg, #000 20deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.center_form_bmi {
    width: 400px;
    height: 50px;
    color: #fff;
    background-color: #333;
    caret-color: red;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
}

.center_form_bmi:not(:nth-child(1)) {
    margin-top: 30px;
}

.btn_bmi {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #777;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 20px 0 0 0;
    width: 430px;
}

.btn_bmi:hover {
    background-color: #3e8e41
}

.btn_bmi:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.text {
    margin: 30px 0 0 0;
    color: #fff;
}

.ball {
    border-radius: 50%;
    background-image: repeating-conic-gradient( red 0deg, red 10deg, yellow 10deg, yellow 20deg);
    animation: spiral 1.7s infinite;
}

.ball1 {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 250px;
    height: 250px;
}

.ball2 {
    position: absolute;
    top: 35%;
    right: 15%;
    width: 250px;
    height: 250px;
}

.ball3 {
    position: absolute;
    bottom: 5%;
    left: 40%;
    width: 150px;
    height: 150px;
}

.ball4 {
    position: absolute;
    top: 5%;
    right: 40%;
    width: 150px;
    height: 150px;
}

@keyframes spiral {
    100% {
        transform: rotateZ(360deg);
    }
}

@media screen and (max-width:600px) {
    .center_form_bmi {
        width: 320px;
        height: 45px;
        ;
        padding: 15px;
        font-size: 18px;
    }
    .btn_bmi {
        padding: 12px 20px;
        font-size: 22px;
        margin: 20px 0 0 0;
        width: 340px;
    }
    .ball1,
    .ball2,
    .ball3,
    .ball4 {
        display: none;
    }
}